.thumbnail{
    border-radius: 10px;
    width: 343.31px;
    height: 193.11;
    display: block;
}
.search-bar{
    border-radius: 5px;
    border: solid 1px rgb(211, 210, 210);
    display: block;
}
.video-title{
    width: 300px;
}
.vid-1{
    display: inline-block;
    margin-right: 10px;
}